body{
    margin: 0px;
}
@media(max-width: 750px){
    body{
        max-width: 320px;
    }
    img {
        width: 290px;
    }
    fieldset{
        width: 310px;
        margin-left: 10px;
        margin-top: 10px;
        
    }
}
@media(max-width: 1023px){
    body{
        max-width: 768px;
    }
    img {
        width: 350px;
    }
    fieldset{
        width: 365px;
        margin-left: 3px;
        margin-top: 3px;
        padding: 5px;
    }
}
@media(min-width:1023px){
    body{
        max-width: 1024px;
    }
    img {
        width: 230px;
    }
    fieldset{
        width: 240px;
        margin-left: 3px;
        margin-top: 3px;
        margin-right: 0px;
        padding: 3px;
    }
}

h1{
    text-align: center;
}

h2{
    margin-left: 20px;
}

#Main{
    display: flex;
    flex-wrap: wrap;
}

span{
    color:rgb(11, 117, 77);
    border: 3px solid rgba(66, 2, 2, 0.55);
}