.box {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 50px;
}

.butt button {
    background-color: rgb(123, 162, 235);
    color: white;
    border-radius: 3px;
    border: none;
    padding: 13px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 227px;
}

.input1 {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 120px;
    background-color: rgb(221, 221, 221);
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input1 input[type="text"],
.input1 label {
    margin: 10px 20px 0px 20px;
}

.input1 label {
    position: relative;
    top: 15px;
    color: rgb(47, 47, 94);
}

.input1 input[type="text"] {
    border: 2px solid rgb(86, 163, 168);
    border-radius: 3px;
    height: 25px;
}

.output {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 90px;
    background-color: rgb(221, 221, 221);
    border-radius: 6px;
}

.output label,
.output p {
    margin: 10px 20px 0px 20px;
}

.output label {
    color: rgb(47, 47, 94);
}

.output p {
    width: 450px;
    height: 30px;
    background: white;
    border-radius: 4px;
    position: relative;
    bottom: 15px;
}